#myloc-main
{
    background-color: #161b22;
    height:100vh;
    text-align: center;
}

.cardimgcontainer{
    padding:3vh;
}
#cardimg{
    width:15vw;
    height:20vh;
}

#carditems{
    background-color: #161b22;
    color:white;
    width:30vw;
    height:77vh;
    justify-content:center;
    -webkit-box-shadow: 0 0 5px 2px #fff;
    -moz-box-shadow: 0 0 5px 2px #fff;
    box-shadow: 0 0 5px 2px #fff;
}

.card{
    display: flex;
    margin-left: 35vw;
    margin-right: 35vw;
    background-color: #161b22;

}

.test{
    display: inline-block;
}

#des-container{
    padding-left: 3vw;
}