.main{
    margin-top:7vh;
    margin-left: 30vw;
    margin-right: 30vw;
    background-color: #161b22;
    color:azure;
    border-radius: 1vw;
    border: 1px solid;
    -webkit-box-shadow: 0 0 5px 2px #fff;
    -moz-box-shadow: 0 0 5px 2px #fff;
    box-shadow: 0 0 5px 2px #fff;
}

.flex{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.test{
    text-align: center;
    padding-top:3vh;
    padding-bottom:3vh;
}

#fcbtn-container{
    text-align: center;
    margin-top:5vh;
}

#bodybg{
    height:100vh;
    background-color: #010409;
}

#cwdtitle
{
    color:white;
    text-align: center;
    padding-top:1vh;
}