#myloc-main
{
    background-color: #161b22;
    height:100vh;
    text-align: center;
}

.cardimgcontainer{
    padding:3vh;
}
#cardimg{
    width:20vw;
    height:30vh;
}

#cwcard{
    
    color:white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:25vw;
}