.home-container{
    height:100vh;
    text-align:center;
    background-color: #161b22;
}

#home-title
{
    color:azure;
    padding-top:10vh;
    font-family: 'Fira Sans', sans-serif;
}

.weather-icon-container{
    padding:5vh;
}

.weather-icon{
    max-width: 25vh;
}

.aws-btn {

    --button-default-height: 59px;
    --button-default-font-size: 17px;
    --button-default-border-radius: 10px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 8px;
    --button-hover-pressure: 2;
    --transform-speed: 0.2s;
    --button-secondary-color: #fafafa;
    --button-secondary-color-dark: #67cbc3;
    --button-secondary-color-light: #349890;
    --button-secondary-color-hover: #ecf9f8;
    --button-secondary-border: 2px solid #b3e5e1;
}
